<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
    <!-- "what is locals in ejs" Look for it if confused, it's a special property-->
    <% if(locals.id){ %>
        <p>URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label>Enter your original URL</label>
            <input type="text" name="url" placeholder="https://example.com"/>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
         <table>
            <thead>
                <th>Sno</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <!-- With foreach we have access for element of array and index -->
                <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                <% }) %>
            </tbody>
         </table>
        <% } %>
    </div>
</body>
</html>